{% extends '../../core/base.html' %} {% load static %} {% block 'contenido' %}
<link
  rel="stylesheet"
  href="{% static 'lib/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'lib/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'lib/adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}"
/>
<link rel="stylesheet" href="{% static 'css/estilo_alerta.css' %}" />

<section class="content-header"></section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <h3 class="card-title">Reporte</h3>

            <div class="card-tools d-flex align-items-center" style="gap: 8px">
              <!-- 🗓️ Filtro de fechas -->
              <form
                method="get"
                action="{% url 'reporte_mensual' %}"
                class="form-inline mb-3"
              >
                <div class="form-group mr-2">
                  <label for="fecha_desde">Desde:</label>
                  <input
                    type="date"
                    id="fecha_desde"
                    name="fecha_desde"
                    class="form-control ml-2"
                    value="{{ fecha_desde }}"
                  />
                </div>

                <div class="form-group mr-2">
                  <label for="fecha_hasta">Hasta:</label>
                  <input
                    type="date"
                    id="fecha_hasta"
                    name="fecha_hasta"
                    class="form-control ml-2"
                    value="{{ fecha_hasta }}"
                  />
                </div>

                <button type="submit" class="btn btn-primary ml-2">
                  Buscar
                </button>

                {% if notas %}
                <a
                  href="{% url 'exportar_excel' %}?desde={{ request.GET.desde }}&hasta={{ request.GET.hasta }}"
                  class="btn btn-success "
                >
                  <i class="fas fa-file-excel"></i> Excel
                </a>

                <a
                  href="{% url 'exportar_pdf' %}?desde={{ request.GET.desde }}&hasta={{ request.GET.hasta }}"
                  class="btn btn-danger "
                  target="_blank"
                >
                  <i class="fas fa-file-pdf"></i> PDF
                </a>
                {% endif %}
              </form>
            </div>
          </div>

          <div class="card-body">
            <table
              id="example1"
              class="table table-bordered table-striped table-sm compact-table"
              style="font-size: 12px"
            >
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Fecha</th>
                  <th>Registro</th>
                  <th>Procedencia</th>
                  <th>Contenido</th>
                  <th>Disposición</th>
                  <th>Usuario</th>
                </tr>
              </thead>
              <tbody>
                {% for nota in notas %}
                <tr class="{{ nota.clase_prioridad }}">
                  <td>{{ forloop.counter }}</td>
                  <td>{{ nota.fch_exp_formateada }}</td>
                  <td>{{ nota.cod_nota.no_exp }}</td>
                  <td>{{ nota.cod_nota.cod_procedencia }}</td>
                  <td>{{ nota.contenido }}</td>
                  <td>{{ nota.disposicion|default_if_none:"Ninguno" }}</td>
                  <td>{{ nota.cod_usuario }}</td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="8" class="text-center text-muted">
                    No hay registros en el rango seleccionado.
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/tabla.js' %}"></script>
<script src="{% static 'lib/adminlte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'lib/adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script></script>

{% endblock %}
