{% extends '../core/base.html' %} {% load static %} {% block 'contenido' %}
<link rel="stylesheet" href="{% static 'lib/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'lib/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'lib/adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/estilo_alerta.css' %}"/>

<section class="content-header"></section>
<section class="content">
  {% csrf_token %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Bandeja de requerimientos</h3>
            <div class="card-tools"></div>
          </div>
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped table-sm compact-table" style="font-size: 12px" >
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Procedencia</th>
                  <th>Fecha</th>
                  <th>Fecha Limite</th>
                  <th>Exp.</th>
                  <th>Prioridad</th>
                  <th>Estado</th>
                  <th>Aprobar</th>
                </tr>
              </thead>
              <tbody>
                {% for nota in notas %}
                <tr class="{{ nota.clase_prioridad }}">
                  <td>{{ forloop.counter }}</td>
                  <td>{{ nota.cod_nota.cod_nota.cod_procedencia }}</td>
                  <td>{{ nota.cod_nota.fch_exp_formateada }}</td>
                  <td>{{ nota.cod_nota.fch_limite_formateada }}</td>
                  <td>{{nota.cod_nota.cod_nota.no_exp}}</td>
                  <td>{{nota.cod_nota.tp_prioridad}}</td>
                  <td>{{nota.cod_estado_cumplimiento}}</td>
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-outline-primary btn-sm btn-block dropdown-toggle" type="button" id="accionesCentro{{ nota.id }}"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Acciones
                      </button>
                      <div class="dropdown-menu" aria-labelledby="accionesCentro{{ nota.cod_nota.id }}" >
                        <a  class="dropdown-item text-success" href="#" data-toggle="modal" data-target="#modal_info_procesado" onclick="info_procesado({{nota.cod_nota.id }})" >
                          Disposición
                        </a>
                        <a class="dropdown-item text-info" href="#" data-toggle="modal" data-target="#modal_info_aprobado" onclick="vercumplimiento({{ nota.id }})">
                          Cumplimiento
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="modal_info_procesado" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_info_procesadoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 class="modal-title">Disposición</h5>
        <button type="button" class="btn btn-close btn-light" data-dismiss="modal" aria-label="Cerrar">
          Cerrar
        </button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="itemId" name="itemId" />
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="fechaNota" class="form-label">Fecha de Nota</label>
            <input type="text" class="form-control" id="fch_exp" name="fch_exp" readonly />
          </div>
          <div class="col-md-6">
            <label for="fechaLimite" class="form-label">Fecha Límite</label>
            <input type="text" class="form-control" id="fch_limite" name="fch_limite" readonly/>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="asunto" class="form-label">Procedencia</label>
            <input type="text" class="form-control" id="procedencia_disp" name="procedencia_disp" readonly />
          </div>
          <div class="col-md-6">
            <label for="prioridad" class="form-label">Prioridad</label>
            <input type="text" class="form-control" id="tp_prioridad" name="tp_prioridad" readonly/>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <label for="contenido" class="form-label">Contenido</label>
            <textarea class="form-control" id="contenido_disp" name="contenido_disp" rows="3" readonly></textarea>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <label for="contenido" class="form-label">Disposición</label>
            <textarea class="form-control" id="disposicion" name="disposicion" rows="3" readonly></textarea>
          </div>
        </div>
        <label for="selectDocumento" class="form-label">Seleccione un documento:</label>
        <select id="selectDocumento" class="form-select"></select>
        <div class="mt-3"><iframe id="visorDocumento" src="" width="100%" height="600px" style="border: none"></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <small class="text-muted">Complete todos los campos requeridos antes de guardar.</small>
      </div>
    </div>
  </div>
</div>
<div id="modal_info_aprobado" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_info_aprobadoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cumplimiento a la Disposición</h5>
        <button type="button" class="btn btn-close btn-light" data-dismiss="modal" aria-label="Cerrar">
          Cerrar
        </button>
      </div>
      <div class="modal-body">
        <form id="formRegistroCME" method="POST" enctype="multipart/form-data" onsubmit="registrar_disposicion(event)">
          <input type="hidden" id="itemIdx" name="itemIdx" />
          <div class="row mb-3">
            <div class="col-md-12">
              <label for="contenido" class="form-label">Cumplimiento</label>
              <textarea class="form-control" id="cumplimiento" name="cumplimiento" rows="3" required></textarea>
            </div>
          </div>
          <div class="mt-3">
            <label for="selectDocumento_cumplimiento" class="form-label" >Seleccione un documento:</label>
            <select id="selectDocumento_cumplimiento" class="form-select"></select>
            <iframe id="visorDocumento_cumplimiento" src="" width="100%" height="600px" style="border: none"></iframe>
          </div>
          <div class="mb-3">
            <label class="form-label">Adjuntar Documentos</label>
            <div id="dropzone" class="border border-primary p-3 text-center" ondragover="event.preventDefault();">
              <p>Arrastra y suelta archivos aquí o
                <label for="fileInput" class="text-primary" style="cursor: pointer">selecciona</label>
              </p>
              <input type="file" id="fileInput" name="arch" multiple accept=".pdf,image/*" class="form-control d-none"/>
              <ul id="fileList" class="list-unstyled mt-2"></ul>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-sm">
              <i class="fas fa-save"></i> Guardar Registro
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <small class="text-muted">Complete todos los campos requeridos antes de guardar.</small>
      </div>
    </div>
  </div>
</div>
<div id="modal_expediente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_ver_expedienteLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">Expediente</h5>
        <button type="button" class="btn btn-close btn-light" data-dismiss="modal" aria-label="Cerrar">Cerrar</button>
      </div>
      <div class="modal-body">
        <label for="selectDocument1" class="form-label">Seleccione un documento:</label>
        <select id="selectDocumento1" class="form-select"></select>
        <div class="mt-3">
          <iframe id="visorDocumento1" src="" width="100%" height="600px" style="border: none"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/tabla.js' %}"></script>
<script src="{% static 'lib/adminlte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'lib/adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script>
  function info_procesado(id) {
    fetch(`/expediente/${id}/`) // Vista Django que devuelve JSON con archivos
      .then((response) => response.json())
      .then((data) => {
        const select = document.getElementById("selectDocumento");
        const visor = document.getElementById("visorDocumento");
        select.innerHTML = "";
        data.archivos.forEach((doc) => {
          let option = document.createElement("option");
          option.value = doc.url;
          option.textContent = doc.nombre;
          select.appendChild(option);
        });
        if (data.archivos.length > 0) {
          visor.src = data.archivos[0].url;
        }
      });
    fetch(`/info_procesada/obtener/${id}/`)
      .then((response) => response.json())
      .then((data) => {
        document.getElementById("itemId").value = data.id;
        document.querySelector('[name="fch_exp"]').value = data.fch_exp;
        document.querySelector('[name="fch_limite"]').value = data.fch_limite;
        document.querySelector('[name="tp_prioridad"]').value =   data.tp_prioridad;
        document.querySelector('[name="contenido_disp"]').value =  data.contenido;
        document.querySelector('[name="procedencia_disp"]').value =  data.procedencia;
        document.querySelector('[name="disposicion"]').value = data.disposicion;
      });
  }

  function ver_expediente(procesamientoId) {
    fetch(`/expediente/${procesamientoId}/`) 
      .then((response) => response.json())
      .then((data) => {
        const select = document.getElementById("selectDocumento");
        const visor = document.getElementById("visorDocumento");
        select.innerHTML = "";
        data.archivos.forEach((doc) => {
          let option = document.createElement("option");
          option.value = doc.url;
          option.textContent = doc.nombre;
          select.appendChild(option);
        });
        if (data.archivos.length > 0) {
          visor.src = data.archivos[0].url;
        }
      });
  }

  document.addEventListener("DOMContentLoaded", function () {
    const selectDocumento = document.getElementById("selectDocumento");
    const visorDocumento = document.getElementById("visorDocumento");
    if (selectDocumento.options.length > 0) {
      visorDocumento.src = selectDocumento.value;
    }
    selectDocumento.addEventListener("change", function () {
      visorDocumento.src = this.value;
    });
  });
  document.addEventListener("DOMContentLoaded", function () {
    const selectDocumento = document.getElementById("selectDocumento_cumplimiento");
    const visorDocumento = document.getElementById("visorDocumento_cumplimiento");
    if (selectDocumento.options.length > 0) {
      visorDocumento.src = selectDocumento.value;
    }
    selectDocumento.addEventListener("change", function () {
      visorDocumento.src = this.value;
    });
  });
  $(document).ready(function () {
    $("#procedencia_sup").change(function () {
      var procedencia_id = $(this).val();
      var url = "{% url 'load_sub_procedencias' %}";
      if (procedencia_id) {
        $.ajax({
          url: url,
          data: { procedencia_id: procedencia_id },
          success: function (data) {
            $("#sub_procedencia").empty(); 
            $("#sub_procedencia").append(
              '<option value="" selected >Selecciona una procedencia</option>'
            );
            $.each(data, function (key, value) {
              $("#sub_procedencia").append(
                '<option value="' +
                  value.id +
                  '">' +
                  value.descrip_corta +
                  "</option>"
              );
            });
          },
        });
      } else {
        $("#sub_procedencia").empty();
        $("#sub_procedencia").append(
          '<option value="">Selecciona una procedencia</option>'
        );
      }
    });
  });
  function llenarItemId(id) {
    document.getElementById("itemIdx").value = id;
  }
  function vercumplimiento(id) {
    document.getElementById("itemIdx").value = id;
    fetch(`/ver_cumplimiento/${id}/`)
      .then((response) => response.json())
      .then((data) => {
        document.querySelector('[name="cumplimiento"]').value =
          data.cumplimiento || "";
        const select = document.getElementById("selectDocumento_cumplimiento");
        const visor = document.getElementById("visorDocumento_cumplimiento");
        const visorContainer = visor.parentElement;
        select.innerHTML = "";
        data.archivos.forEach((doc) => {
          let option = document.createElement("option");
          option.value = doc.url;
          option.textContent = doc.nombre;
          select.appendChild(option);
        });
        if (data.archivos.length > 0) {
          visor.src = data.archivos[0].url;
        } else {
          // Si no hay archivos, ocultar visor y combobox
          visorContainer.style.display = "none";
          select.style.display = "none";
          visor.src = "";
        }
      });
  }
  let destinatariosSeleccionados = [];

  function agregarDestinatario() {
    const select = document.getElementById("sub_procedencia");
    const lista = document.getElementById("listaDestinatarios");
    const inputHidden = document.getElementById("destinatariosInput");
    const id = select.value;
    const nombre = select.options[select.selectedIndex].text;
    if (id && !destinatariosSeleccionados.includes(id)) {
      destinatariosSeleccionados.push(id);
      const li = document.createElement("li");
      li.classList.add(
        "list-group-item",
        "d-flex",
        "justify-content-between",
        "align-items-center"
      );
      li.textContent = nombre;
      const btnEliminar = document.createElement("button");
      btnEliminar.classList.add("btn", "btn-danger", "btn-sm");
      btnEliminar.innerHTML = "<i class='fas fa-trash'></i>";
      btnEliminar.onclick = () => {
        destinatariosSeleccionados = destinatariosSeleccionados.filter(
          (item) => item !== id
        );
        li.remove();
        inputHidden.value = destinatariosSeleccionados.join(",");
      };
      li.appendChild(btnEliminar);
      lista.appendChild(li);
      inputHidden.value = JSON.stringify(
        destinatariosSeleccionados.map((id) => ({ sub_procedencia: id }))
      );
    }
  }
  function registrar_disposicion(event) {
    event.preventDefault();
    let formData = new FormData(document.getElementById("formRegistroCME"));
    fetch("/registrar_cumplimiento/", {
      method: "POST",
      body: formData,
    })
      .then((res) => res.json())
      .then((data) => {
        if (data.status === "ok") {
          alert("Registro guardado correctamente");
          $("#modal_info_aprobado").modal("hide");
          location.reload();
        } else {
          alert("Error: " + data.message);
        }
      })
      .catch((err) => {
        console.error(err);
        alert("Ocurrió un error al guardar.");
      });
  }
  document.addEventListener("DOMContentLoaded", function () {
    let fileInput = document.getElementById("fileInput");
    let dropzone = document.getElementById("dropzone");
    let fileList = document.getElementById("fileList");
    let selectedFiles = new DataTransfer(); 
    fileInput.addEventListener("change", function (event) {
      handleFiles(event.target.files);
    });
    dropzone.addEventListener("drop", function (event) {
      event.preventDefault();
      handleFiles(event.dataTransfer.files);
    });
    dropzone.addEventListener("dragover", function (event) {
      event.preventDefault();
    });
    function handleFiles(files) {
      for (let file of files) {
        if (!fileExists(file)) {
          selectedFiles.items.add(file); 
          let listItem = document.createElement("li");
          listItem.className =
            "d-flex justify-content-between align-items-center p-2 border rounded mt-1";
          listItem.innerHTML = `
                  ${file.name}
                  <button type="button" class="btn btn-danger btn-sm ms-2" onclick="removeFile('${file.name}')">✖</button>`;
          fileList.appendChild(listItem);
        }
      }
      fileInput.files = selectedFiles.files; 
    }
    function fileExists(file) {
      for (let i = 0; i < selectedFiles.files.length; i++) {
        if (selectedFiles.files[i].name === file.name) {
          return true;
        }
      }
      return false;
    }
    window.removeFile = function (fileName) {
      for (let i = 0; i < selectedFiles.items.length; i++) {
        if (selectedFiles.items[i].getAsFile().name === fileName) {
          selectedFiles.items.remove(i); // Elimina el archivo de la lista
          break;
        }
      }
      fileInput.files = selectedFiles.files; 
      updateFileList();
    };
    function updateFileList() {
      fileList.innerHTML = "";
      for (let i = 0; i < selectedFiles.files.length; i++) {
        let file = selectedFiles.files[i];

        let listItem = document.createElement("li");
        listItem.className =
          "d-flex justify-content-between align-items-center p-2 border rounded mt-1";

        listItem.innerHTML = `
              ${file.name}
              <button type="button" class="btn btn-danger btn-sm ms-2" onclick="removeFile('${file.name}')">✖</button>`;
        fileList.appendChild(listItem);
      }
    }
  });
  function verArchivo(select) {
    var url = select.value;
    if (url) {
      window.open(url, "_blank");
    }
  }
</script>

{% endblock %}
