{% extends '../core/base.html' %} {% load static %} {% block 'contenido' %}
<link rel="stylesheet" href="{% static 'lib/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static 'lib/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'lib/adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/estilo_alerta.css' %}" />
<section class="content-header"></section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Firma Autorizada</h3>
            <div class="card-tools"></div>
          </div>
          <div class="card-body">
            <form id="form_firma_autorizada" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-5">
                  <label for="txt_grado" class="form-label">Grado</label>
                  <select class="form-control" id="txt_grado" name="txt_grado" required>
                    <option value="" selected>Seleccione...</option>
                    {% for grado in ls_grado %}
                    <option value="{{ grado.id }}">{{ grado.descrip_corta }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-5">
                  <label for="txt_grado" class="form-label">Arma</label>
                  <select class="form-control" id="txt_arma" name="txt_arma" required>
                    <option value="" selected>Seleccione...</option>
                    {% for arma in ls_arma %}
                    <option value="{{ arma.id }}"> {{ arma.descrip_corta }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col-md-2">
                  <label for="txt_diplomado" class="form-label">Diplomado</label>
                  <select class="form-control" id="txt_diplomado" name="txt_diplomado" required>
                    <option value="" selected>Seleccione...</option>
                    <option value="DEM">DEM</option>
                    <option value="">No Aplica</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <label for="txt_nom_completo" class="form-label">Nombre Completo</label>
                  <input type="text" class="form-control" style="text-transform: uppercase;" id="txt_nom_completo" name="txt_nom_completo" required/>
                </div>
                <div class="col-md-5">
                  <label for="txt_cargo" class="form-label">Cargo</label>
                  <input type="text" class="form-control" style="text-transform: uppercase;" id="txt_cargo" name="txt_cargo" required/>
                </div>
                <div class="col-md-2">
                  <label for="txt_serie" class="form-label">Serie</label>
                  <input type="text" class="form-control" id="txt_serie" name="txt_serie" placeholder="EHO-XXXX" required/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-right mt-3">
                  <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fas fa-save"></i> Guardar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Listado de Firmas Autorizadas</h3>
            <div class="card-tools"></div>
          </div>
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped table-sm compact-table" style="font-size: 12px">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Grado</th>
                  <th>Nombre Completo</th>
                  <th>Fecha</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                {% for firmas in ls_firmas %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{firmas.cod_grado.descrip_larga}} {% if firmas.cod_arma.descrip_corta != 'N/A' %} {{firmas.cod_arma}} {{ firmas.diplomado }} {%endif%} </td>
                  <td>{{ firmas.nom_completo}}</td>
                  <td>{{ firmas.fecha_creacion }}</td>
                  <td>  {% if firmas.activo == True %} Activo {% else %} No Activo {%endif%}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/tabla.js' %}"></script>
<script src="{% static 'lib/adminlte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'lib/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'lib/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'lib/adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
{% endblock %}
