{% extends '../core/base.html' %}
{% load static %}
{% block 'contenido' %}
  <!-- DataTables -->
  <link rel="stylesheet" href="../../static/lib/adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../../static/lib/adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="../../static/lib/adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<!-- Estilos para pantalla completa -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@2.4.0/Control.FullScreen.css">
<!-- Script para pantalla completa -->
<script src="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@2.4.0/Control.FullScreen.js"></script>
  
  <style>
    /* Style the container to limit its size */
    .dataTables_filter {
            float: right;
    }
    .dt-buttons {
            float :left;
     }

     .btn_add_req{
            float :right;
     }
    
    .small-table {
    font-size: 0.875em; /* Reducir el tamaño de la fuente */
    }

    .compact-table td, 
    .compact-table th {
      padding: 0.3rem; /* Reducir el padding */
    }
    body.fullscreen #map {
      height: 100%; /* Altura completa para pantalla completa */
    }
  </style>
  <section class="content-header">
</section>
<section class="content">
  {% csrf_token %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Mapa de </h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body" >
            <div id="map" style="width: 100%; height: 400px;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Registro de </h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped table-sm compact-table">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Fecha</th>
                        <th>Depto.</th>
                        <th>Munic.</th>
                    </tr>
                </thead>
                <tbody>
                 {% for cv in cv %}
                  <tr data-lat="{{ cv.latitud }}" data-lng="{{ cv.longitud }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{cv.cod_depto.descrip_corta}}</td>
                    <td>{{cv.cod_munic.descrip_corta }} </td>
                    <td>{{cv.nom}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>
            <br/>
            <div class="container">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- jQuery -->
<script src="../../static/lib/adminlte/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../static/lib/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../static/lib/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../static/lib/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../static/lib/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../static/lib/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../static/lib/adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../static/lib/adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../static/lib/adminlte/plugins/jszip/jszip.min.js"></script>
<script src="../../static/lib/adminlte/plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../static/lib/adminlte/plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../static/lib/adminlte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../static/lib/adminlte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../static/lib/adminlte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script>
  jQuery(document).ready(function($) {
    $('#example1').DataTable({
       "language": {
            "decimal":        "",
            "emptyTable":     "No hay datos disponibles en la tabla",
            "info":           "Mostrando _START_ a _END_ de _TOTAL_ entradas",
            "infoEmpty":      "Mostrando 0 a 0 de 0 entradas",
            "infoFiltered":   "(filtrado de _MAX_ entradas totales)",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "Mostrar _MENU_ entradas",
            "loadingRecords": "Cargando...",
            "processing":     "Procesando...",
            "search":         "Buscar:",
            "zeroRecords":    "No se encontraron registros coincidentes",
            "paginate": {
                "first":      "Primero",
                "last":       "Último",
                "next":       "Siguiente",
                "previous":   "Anterior"
            },
            "aria": {
                "sortAscending":  ": activar para ordenar la columna ascendente",
                "sortDescending": ": activar para ordenar la columna descendente"
            }
        }
    });

    var buttons = new $.fn.dataTable.Buttons($('#example1').DataTable(), {
            buttons: [
                { extend: 'excel', className: 'btn btn-primary', text: '<i class="fas fa-file-excel"></i> Excel' },
                { extend: 'print', className: 'btn btn-primary', text: '<i class="fas fa-print"></i> Imprimir' },
            ]
        }).container().appendTo($('.dt-buttons'));
  })
  const map = L.map('map', {
    center: [14.664990, -86.895006], // Coordenadas iniciales
    zoom: 7,
    fullscreenControl: true, // Activa el botón de pantalla completa
    fullscreenControlOptions: {
      position: 'topleft' // Puedes cambiar la posición (topleft, topright, etc.)
    }
  });
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);

  var icon1 = L.icon({
      iconUrl: '../../static/img/punto.png',  // URL del icono
      iconSize: [5, 5],  // Tamaño del icono
      iconAnchor: [5, 5],  // Ancla del icono (punto de referencia)
      popupAnchor: [0, -32]  // Ajuste del popup (si lo necesitas)
  });
  const rows = document.querySelectorAll("table tbody tr");
  const markers = []; 
  rows.forEach(row => {
    const lat = row.dataset.lat;
    const lng = row.dataset.lng;

    if (lat && lng) {
      const marker = L.marker([lat, lng], { icon: icon1 }) .addTo(map);
      marker.bindPopup(`
        <b>Departamento:</b> ${row.cells[1].innerText} <br>
        <b>Municipio:</b> ${row.cells[2].innerText} <br>
        <b>CV:</b> ${row.cells[3].innerText}
      `);
      markers.push(marker);

      // Agregar evento de clic a la fila para centrar el mapa
      row.addEventListener('click', () => {
        map.setView(marker.getLatLng(), 12); // Centra el mapa en el marcador y ajusta el zoom
        marker.openPopup(); // Abre el popup del marcador
      });
    }
  });
</script>
{% endblock %}